*
{padding: 0px;
margin: 0px;}

html
{font-size: 62,5%;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;}

body
{background-color: rgb(255, 255, 255);}


.container
{width: 40%;
height: auto;
margin: 0 auto;
margin-top: 150px;}

.addTarefaForm
{margin-top: 50px;
margin-left: 50px;}

.addTarefaForm p
{font-size: 1.4rem;}

.addTarefaForm input
{font-size: 1.4rem;
margin-top: 10px;}

.add-tarefa button
{padding-left: 15px;
padding-right: 15px;
font-size: 1.2rem;
border: solid black 2px;
margin-left: 10px;
cursor: pointer;}




.form-edit 
{margin-top: 50px;
margin-left: 50px;}

.form-edit p
{font-size: 1.4rem;}

.form-edit input
{font-size: 1.4rem;
margin-top: 10px;}

.form-edit button
{padding-left: 15px;
padding-right: 15px;
font-size: 1.4rem;
border: solid black 2px;
margin-left: 10px;
cursor: pointer;}





.pesquisa
{margin-top: 50px;
margin-left: 50px;
display: flex;}

.pesquisa p
{font-size: 1.4rem;
margin-right: 10px;}

.pesquisa input
{margin-top: 10px;
font-size: 1.4rem;}

.filtro
{position: relative;
margin-left: 30px;}

.filtro select
{position: absolute;
bottom: 0px;
left: 0px;
font-size: 1.4rem;
padding-left: 10px;
padding-right: 10px;}




.lista
{display: flex;
margin-top: 50px;
margin-left: 50px;}

.lista p
{font-size: 1.4rem;
margin-right: 10px;}

.lista button
{padding-left: 15px;
padding-right: 15px;
font-size: 1rem;
margin-left: 10px;}



