*
{padding: 0px;
margin: 0px;}

html
{font-size: 62,5%;
font-family: 'Oswald', sans-serif;}

body
{background-color: rgb(41, 41, 41);}


.container
{width: 40%;
height: auto;
margin: 0 auto;
margin-top: 150px;
background-color: white;
border-radius: 10px;
padding-bottom: 20px;}

.tituloPrincipal
{width: 90%;
margin: 0 auto;
text-align: center;
font-size: 3rem;
padding-top: 50px;
border-bottom: 2px rgb(31, 31, 31) solid;}



.addTarefaForm
{margin-top: 50px;
margin-left: 50px;}

.addTarefaForm p
{font-size: 1.4rem;}

.addTarefaForm input
{font-size: 1.4rem;
margin-top: 10px;
padding: 5px;
border: none;  
border-bottom: 2px solid black;}

.add-tarefa button
{padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
font-size: 1.2rem;
border: solid black 2px;
margin-left: 10px;
cursor: pointer;
border: none;
border-radius: 3px;
background-color: rgb(91, 152, 245);
color: white;
transition: 250ms;}

.add-tarefa button:hover
{scale: 1.05;
background-color: rgb(9, 82, 192);}




.form-edit 
{margin-top: 50px;
margin-left: 50px;
display: none;}

.form-edit p
{font-size: 1.4rem;}

.form-edit input
{font-size: 1.4rem;
margin-top: 10px;
padding: 5px;
border: none;  
border-bottom: 2px solid black;}

.form-edit button
{padding-left: 15px;
padding-right: 15px;
font-size: 1.4rem;
border: none;
margin-left: 10px;
cursor: pointer;
padding-top: 5px;
padding-bottom: 5px;}

#add
{background-color: rgb(87, 238, 140);
transition: 250ms;
border-radius: 2px;}

#add:hover
{background-color: rgb(2, 170, 61);}

#cancel
{background-color: rgb(255, 95, 55);
transition: 250ms;
border-radius: 2px;}

#cancel:hover
{background-color: rgb(196, 39, 0);}





.pesquisa
{margin-top: 50px;
margin-left: 50px;
display: flex;}

.pesquisa p
{font-size: 1.4rem;
margin-right: 10px;}

.pesquisa input
{margin-top: 10px;
font-size: 1.4rem;
padding: 5px;
border: none;  
border-bottom: 2px solid black;}

.filtro
{position: relative;
margin-left: 30px;}

.filtro select
{position: absolute;
bottom: 0px;
left: 0px;
font-size: 1.4rem;
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 5px;}




.tarefa
{display: flex;
width: 90%;
margin: 0 auto;
margin-top: 20px;
padding-bottom: 30px;
background-color: rgb(91, 152, 245);
border-radius: 5px;
transition: 500ms;}

.tarefa-texto
{font-size: 1.2rem;
margin-right: 10px;
margin-top: 25px;
margin-left: 20px;
margin-right: 60px;
color: white;
transition: all ease-in-out 500ms;
max-width: 250px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;}

.tarefa button
{padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 25px;
font-size: 1rem;
margin-left: 20px;
border: none;
cursor: pointer;
transition: 250ms;}

.tarefa button:hover
{background-color: rgb(25, 117, 255);}


.tarefa-feita 
{text-decoration: line-through;
background-color: rgb(66, 231, 179);}



